// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
}
body {
  margin: 0 20% 0 20%;
}
input {
  margin-top: 12px;
}
label {
  margin-top: 10px;
}
