// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 60% !important;
}
.message{
  margin-top: 20px;
}
form {
  margin-left: 6%;
  input.form-control {
    width: 40%;
  }
  label, input[type=submit] {
    margin-top: 1%;
  }
}
.error {
  color: red;
}
td, th {
  border: 1px solid black;
  text-align: center;
  padding: 3px !important;
}
i {
  margin-top: 70px;
  &.table-header {
    display: block;
  }
  &.copyright {
    display: block;
    margin-left: 25%;
  }
}
